/*начало стилей для footer*/
.footer hr{
    border:2px solid #EAEAEA;
}
.footer{
    margin-bottom: 50px;
}

.footer__wrap1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
    @media screen and (max-width:576px) {
        flex-direction: column;
        /*спросить почему тут сработало ailgn-items, а в wrap2 text-align*/
        align-items: center;
    }
}

.footer .navigation__logo{
    @media screen and (max-width:576px) {
        margin-bottom: 36px;
    }
}

hr{
    margin-bottom: 38px;
    @media screen and (max-width:576px) {
        margin-bottom: 42px;
    }
}

.footer__wrap2{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:576px) {
        flex-direction: column;
        text-align: center;
    }
}

.footer__copyright{
    padding-top: 10px;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    color: #8F99AC;
}

.footer__info{
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    color: #8F99AC;
}