/*начало стилей для navigation*/
.navigation{
    padding-top: 50px;
    margin-bottom: 78px;
}

.navigation__wrap{
    display: flex;/*распологает элементы внутри родителя в строку*/
    justify-content: space-between;/*распологает элементы по сторонам*/
    /*justify-content отвечает за расположение элементов по горизонтали*/
}

.navigation__logo{
    display: flex;/*распологает элементы внутри родителя в строку*/
    align-items: center;/*размещает элементы по центру по вертикали*/
    /*align-items отвечает за расположение элементов по вертикали*/
    grid-gap: 12px; /*отсуп между элементами*/
}

.navigation__list{
    display: flex;/*распологает элементы внутри родителя по центру*/
    align-items: center;/*размещает элементы по центру по вертикали*/
    /*align-items отвечает за расположение элементов по вертикали*/
    grid-gap:54px;/*отступ между элементами*/
    @media screen and (max-width:576px){
        display: none;
    }
}

.navigation__logo-img{
    @media screen and (max-width:576px){
        display: none;
    }
}

.navigation__list-item{
    font-family: "Rubik",sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.navigation__logo-name{
    font-family: "Rubik";
    font-weight: 700;
    font-size: 28px;
    color: #FCA206;
    @media screen and (min-width:576px) {
        font-size: 23px;
    }
}

.navigation__logo-name span{
    color: #4047E2;
}

.navigation__menu{
    overflow:hidden;  /*убрали скролл*/
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden;  /*для горизонтального*/
    @media screen and (min-width:576px){
        display: none;
    }
}

.navigation button{
    border: none;
    background-color: #fff;
}

.navigation__menu-content{
    display: none;
    background-color: rgba(87, 86, 86, 0.8);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.content{
    text-align: right;
    background-color: #fff;
    margin-left: 45px;
    padding-top: 23px;
    padding-right: 12px;
    padding-left: 25px;
    padding-bottom: 16px;
    height: 100%;
}

.close{
    margin-bottom: 24px;
}

.content__list li{
    padding-bottom: 22px;
}

.content__list li:last-child{
    padding-bottom: 0;
}

.content__list{
    margin-bottom: 389px;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.content__info li{
    padding-bottom: 16px;
}

.content__info li:last-child{
    padding-bottom: 0;
}

.content__info{
    font-family: "Rubik";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color:#8F99AC;
}
/*конец стилей для navigation*/